.mapContainer {
    display: flex;
    justify-content: end;
    width: 50vw;
    height: 85vh;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 75vw;
    margin-bottom: 2rem;
}

.bottom {
    /* contains mapContainer and hotelList*/
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 73vw;
}

.geoSearch {
    z-index: 1;
    border-style: solid;
    border-radius: 1rem;
    border-width: 2px;
    width: 150px;
    padding: 1rem 0 1rem 0;
    font-size: 20px;
    position: absolute;
    margin: .5rem;
    background-color: #CDE8E5;
    transition: all 0.2s ease-in;
}

.geoSearch:hover{
    background-color: #a9d6d1;
}

.searchBar {
    border-radius: 2rem;
    
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 70vw;
    
    background-color: #CDE8E5;
    
    padding: 1rem 2rem 1rem 2rem;
    margin-bottom: 1rem;
    flex-wrap: wrap;
}

.input {
    width: 300px;
    margin-top: 15px;
    /* width: 100%; */
}

.searchButton {
    border-style: solid;
    border-radius: 1rem;
    border-width: 2px;
    width: 100px;
    padding: 1rem 0 1rem 0;
    font-size: 20px;
    transition: all 0.2s ease-in;
}

.searchButton:hover{
    background-color: #a9d6d1;
}

.hotelList {
    width: 20vw;
    height: 85vh;
    overflow-y: scroll;
    overflow-x: hidden;
    scrollbar-width: thin;
    padding-right: 1rem;
}

.listElement {
    border-radius: 1rem;
    list-style-type: none;

    margin-bottom: 15px;
    background-color: #CDE8E5;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

.listElement:hover {
    cursor: pointer;
    transform: scale(1.04);
}

.popupContainer {
    background-color: white;
    border-style: solid;
}

.hotelInfo {
    background-color: #CDE8E5;
    border-radius: 1rem;
    margin-top: 5rem;
    margin-bottom: 2rem;
    padding: 1rem;
}

.hotelTitle {
    padding-bottom: 5vh;
    text-align: center;
}

.hotelDetails {
    padding-left: 10vw;
    padding-right: 10vw;
}

.oneHotel {
    display: flex;
    flex-direction: column;
}

.importantSection {
    display: flex;
    flex-direction: row;
}

.dates {
    flex-grow: 1;
}

@media (max-width: 1150px) {
    .bottom{
        display: flex;
        flex-direction: column;
    }
    .searchBar{
        flex-direction: column;
        width: 300px;
    }
    .mapContainer{
        width: 100%;
    }
    .hotelList{
        margin-top: 2rem;
        width: 100%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
    }
    .hotel_element{
        width: 300px;
    }
}