.pageTitle {
    font-size: 2em;
    margin-bottom: 3vh;
    margin-top: 2vh;
}

.tripShort {
    background-color: #CDE8E5;
    border-radius: 1rem;
    margin-bottom: 2vh;
    width: 80vw;
    display: flex;
    flex-direction: row;
}

.tripPhoto {
    object-fit: cover;
}

.shortDetails {

}

.horizontal_section{
    display: flex;
    justify-content: space-around;
    padding: .5rem 0 1rem 0;
}

.activities_container{
    display: flex;
    flex-wrap: wrap;
}

.amount{
    padding-top: 0;
}