main{
    display: flex;
    flex-direction: column;
    align-items: center;
}

button{
    border: none;
    background: none;
}

button:hover{
    cursor: pointer;
}

input:focus { 
    outline: none; 
}