.input{
    font-family: 'Times New Roman', Times, serif;
    font-size: 16px;
    width: 200px;
    margin: 0.5rem;
}

.parent{
    position: relative;
}

.dropdown{
    margin-left: 0.5rem;
    border-radius: 1rem;
    position: absolute;
    overflow-y: auto;
    width: 233px;
    max-height: 210px;
    background-color: white;
    scrollbar-width: thin;
    z-index: 1;
}

.dropdown#passenger{
    scrollbar-width: none;
    max-height: 255px;
    z-index: 2;
}

#passengers.input:hover{
    cursor: pointer;
}

.close_button_passenger{
    font-weight: bold;
    text-align: right;
}

.close_button_passenger:hover{
    cursor: pointer;
}

.increment{
    display: flex;
    justify-content: space-between;
    padding-right: 5px;
}

.citiesInput{
    margin: 0;
    padding: 0;
    vertical-align: top;
}

.cityName{
    padding-bottom: 0;
    font-weight: bold;
    margin-bottom: 1rem;
}