.citiesInput{
    margin: 0;
    padding: 0;
}

.input{
    font-family: 'Times New Roman', Times, serif;
    font-size: 16px;
    width: 200px;
    margin: 1rem;
}

.dropdown{
    margin-top: 5px;
    border-radius: 1rem;
    position: absolute;
    overflow-y: scroll;
    width: 235px;
    max-height: 200px;
    background-color: white;
    scrollbar-width: thin;
    z-index: 1;
}

.cityName{
    padding-bottom: 0;
    font-weight: bold;
    margin-bottom: 1rem;
}

.input_container{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    border-radius: 2rem;
    width: 40vw;
    background-color: #CDE8E5;
    min-width: 300px;
    margin-bottom: 2rem;
    flex-wrap: wrap;
}

.buttons{
    border-style: solid;
    border-radius: 1rem;
    width: 100px;
    padding: 1rem 0 1rem 0;
    font-size: 20px;
}

.activity_container{
    display: flex;
    flex-wrap: wrap;
    overflow-y: scroll;
    max-width: 85vw;
    min-width: 50vw;
    height: 60vh;
    margin-top: 0;
    justify-content: space-around;
}

.loading_img{
    padding-top: 5rem;
    margin: auto;
    display: block;
    width: 200px;
    height: 200px;
}

.pagination{
    display: flex;
    justify-content: center;
}

.activity{
    display: flex;
    border-style: solid;
    border-radius: 2rem;
    margin: .01rem;
    justify-content: space-between;
    align-items: center;
    width: 500px;
    border-width: 3px;
    padding: 0;
    margin-bottom: 1rem;
    min-width: 300px;
}

.main_container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.description{
    width: fit-content;
    max-height: 6em;
    overflow-y: auto;
    word-wrap: break-word;
    scrollbar-width: thin;
    padding-top: 0;
}

.activity_picture{
    width: 250px;
    height: 250px;
    object-fit: cover;
    border-radius: 2rem;
    margin-right: .25rem;
}

.amount{
    padding-top: 0;
}

.title{
    width: fit-content;
}

@media (max-width: 1300px){
    .activity_container{
        flex-direction: column;
        flex-wrap: nowrap;
        align-items: center;
    }
    .activity_picture{
        width: 175px;
        height: 175px;
    }
    .activity{
        max-width: 500px;
        /* FIX FOR SMALL */
        width: 80vw;
        min-width: 300px;
    }
}

@media (max-width: 700px){
    .description{
        width: 35vw;
    }
}