.progress_bar{
    display: flex;
    width: 80vw;
    align-items: center;
    justify-content: center;
    margin-bottom: 1rem;
}

.progress_text{
    padding: 0 .5rem 0 .5rem;
    font-weight: normal;
}

.progress_button{
    padding: 0 .5rem 0 .5rem;
    font-weight: normal;
    transition: scale .2s;
}

.progress_button:hover{
    scale: 1.2;
}

.buttons{
    display: flex;
    justify-content: end;
    width: 70vw;
}

.buttons:hover{
    cursor: pointer;
}

.add_button{
    box-sizing: border-box;
    font-size: large;
    padding: 1rem;
    width: 75px;
    transition: scale 0.3s ease-in;
    align-self: center;
}

.add_button:hover{
    scale: 1.2;
}