.section{
    margin: 0;
    flex-direction: row;
}

.section:last-of-type{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.section:first-of-type{
    margin-top: 2rem;
    margin-left: 2rem;
    border-width: 1px;
    padding: 0 0 1rem 0;
    width: 200px;
    align-items: center;
    justify-content: center;
    border-style: solid;
}

.input_container{
    display: flex;
    flex-direction: column;
    width: 70vw;
    background-color: #CDE8E5;
    border-radius: 2rem;
    min-width: 300px;
}

p{
    margin: 0;
}

.airportName{
    padding-bottom: 0;
    font-weight: bold;
}

.stateCode{
    font-size: 13px;
    padding-top: 0;
}

.citiesInput{
    margin: 0;
    padding: 0;
}

.input{
    font-family: 'Times New Roman', Times, serif;
    font-size: 16px;
    width: 200px;
}

.dropdown{
    margin-top: 5px;
    border-radius: 1rem;
    position: absolute;
    overflow-y: scroll;
    width: 235px;
    max-height: 210px;
    background-color: white;
    scrollbar-width: thin;
    z-index: 1;
}

.increment{
    display: flex;
    justify-content: space-between;
    padding-right: 5px;
}

.dropdown#passenger{
    scrollbar-width: none;
    max-height: 255px;
}

.flight_offers{
    width: 70vw;
    overflow-y: scroll;
    min-width: 300px;
    height: 700px;
    margin-top: 2rem;
}

.buttons{
    border-style: solid;
    border-radius: 1rem;
    width: 100px;
    padding: 1rem 0 1rem 0;
    font-size: 20px;
}
    
.flight{
    display: flex;
    justify-content: space-between;
    border-style: solid;
    margin-bottom: 1rem;
    border-radius: 2rem;
    padding: 1rem;
}
        
.button_container{
    /* border-style: solid; */
    display: flex;
    justify-content: space-around;
    margin-bottom: 2rem;
    width: 300px;
}

.datePicker{
    z-index: 0;
}

#passengers.input:hover{
    cursor: pointer;
}

.close_button_passenger{
    font-weight: bold;
    text-align: right;
}

.close_button_passenger:hover{
    cursor: pointer;
}

.segments{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
}

.arrow_container#right_arrow:nth-last-of-type(2){
    display: none;
}

.arrow_container#down_arrow{
    display: none;
}

@media (max-width: 950px){
    .arrow_container#down_arrow{
        display: initial;
    }
    .arrow_container#right_arrow{
        display: none;
    }
    .segments{
        flex-direction: column;
    }
    .flight{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .arrow_container#down_arrow:last-of-type{
        display: none;
    }
    .input_container{
        flex-direction: column;
        align-items: center;
        width: 90vw;
    }.flight_offers{
        width: 90vw;
    }
    .section:last-of-type{
        flex-direction: column;
        align-items: center;
    }
    .section:first-of-type{
        margin-left: 0;
    }
    .input{
        width: 50vw;
    }
}

.arrow{
    padding: 0 2rem 0 2rem;
}

.text{
    padding: 0 1rem 0 1rem;
}

.title{
    word-wrap: break-word;
}

#header3{
    margin: 1rem 0 0 0;
}

#ptag{
    padding-bottom: 0;
}

#details_button{
    text-decoration: underline;
    width: 20px;
    padding: 0;
    margin: .5rem 0 0 1rem;
}

#details_button:hover{
    cursor: pointer;
}