.navbar{
    position: sticky;
    top: 0;
    display: flex;
    Justify-content: space-between;
    align-items: center;
    margin: 0 0 1rem 0;
    padding-top: 0.5rem;
    padding-bottom: 1rem;
    width: 100%;
    background-image: linear-gradient(#befff9, #EEF7FF);
}

.right{
    margin-right: 1rem;
}

.logo{
    margin-left: 1rem;
    display: flex;
    align-items: center;
}

.img{
    width: 100px;
}

.links{
    font-size: 15px;
    margin-right: 1rem;
}

.signin{
    font-size: 15px;
}

.home{
    font-size: 40px;
}